.massageCard_div {
  max-width: 300px;
  width: 300px;
  margin-top: 10px;
}

.massageCard_inner_div {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.massageCard_poster_div {
  height: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}