.dashboard_massages_div,
.appointments_div,
.massage_details_div {
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  flex: 80%;
}

.add_massage_button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  background-color:rgb(150, 191, 18);
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}