.dashboard_massages_div,
.appointments_div,
.massage_details_div {
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  flex: 80%;
}

.dashboard_massages_div,
.dashboard_heading_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_heading_div > h2 {
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-weight: bolder;
}

.dashboard_heading_div > p {
  color: #bbb;
  font-weight: 600;
}

.dashboard_heading_div > div {
  width: 60%;
  height: 0;
  border: 1px dotted #ddd;
  margin-top: 40px;
}

.massage_carousel_div {
  width: 100%;
  padding: 70px 0 0 0;
}

.add_massage_button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  background-color:rgb(150, 191, 18);
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}